#footer {
  height: 50px;
  width: 100%;
  background-color: white;
  font-size: 14px;
  color: black;
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 40px;
}

.logo {
  padding-left: 10px;
  float: left;
  font-size: 28px;
  padding-top: 6px;
  font-weight: bold;
}
